cluster.name: {{ opensearch_cluster_name }}
node.name: {{ opensearch_node_name }}
network.host: 0.0.0.0
http.port: {{ opensearch_http_port }}
discovery.type: single-node

# Internal network isolation - TLS/Security plugin disabled
plugins.security.disabled: true
